.as-color-dark {
    color: var(--as-color-dark);
}

.as-color-gray {
    color: var(--as-color-gray);
}

.as-color-blue {
    color: var(--as-color-blue);
}

.as-color-white {
    color: var(--as-color-white);
}

.as-color-soft {
    color: var(--as-color-soft);
}