.as-mb-32 {
    margin-bottom: 2rem;
}

.as-mb-16 {
    margin-bottom: 1rem;
}

.as-mb-8 {
    margin-bottom: 0.5rem;
}

.as-mb-4 {
    margin-bottom: 0.25rem;
}

.as-mt-64 {
    margin-top: 4rem;
}

.as-pr-64 {
    padding-right: 4rem;
}

.as-pb-16 {
    padding-bottom: 1rem;
}